/* @import "~@ng-select/ng-select/themes/default.theme.css"; */
@import "~@ng-select/ng-select/themes/default.theme.css";
/* @import "~@ng-select/ng-select/themes/material.theme.css"; */

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
