<div class="container">
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-primary" type="button" [routerLink]="['/user']">Add user</button>
            <app-search (searchEvent)="search($event)"></app-search>
            <!-- <div id="search-component">
                <label for="search-box">User Search</label>
                <input #searchBox id="search-box" (input)="search(searchBox.value)" />
            </div> -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col"></th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">DOB</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of userData; index as i">
                        <th scope="row">{{ (i + 1) + ((currentPage - 1) * dataLimit)}}</th>
                        <td>
                            <img [src]="user.profile" class="profile" (error)="setProfileImage($event)">
                        </td>
                        <td>
                            {{ user.firstName + user.lastName }}
                        </td>
                        <td>{{ user.email }}</td>
                        <td>
                            {{ user.dob | amDateFormat: 'DD-MM-YYYY'}}
                        </td>
                        <td>
                            <a class="action" [routerLink]="['/user', user._id]"> Edit</a><br>
                            <a class="action" (click)="delete(user._id)"> Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <app-pagination [currentPage]="currentPage" [pageCounts]="pageCounts" (pageChange)="switchPage($event)">
        </app-pagination>
    </div>
</div>